.signin {
  background-color: #be369c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  width: 80%;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Verdana;
}
.signin:disabled {
  background: #f19bdc;
  pointer-events: none;
}
.signin:hover {
  background: #ec45c3;
}
.add {
  background-color: rgb(31, 78, 31);
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  width: 15%;
  border-radius: 10px;
  font-family: Verdana;
}
.add:hover {
  background-color: rgb(50, 117, 50);
}
.signout {
  color: white;
  border-color: white;
  width: 10%;
  background-color: rgb(97, 94, 94);
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  font-family: Verdana;
  margin-left: 80%;
}
.signout:hover {
  color: rgb(97, 94, 94);
  border-color: white;
  background-color: white;
  width: 10%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  font-family: Verdana;
  margin-left: 80%;
}
