.header {
  width: 100%;
  background-color: rgb(97, 94, 94);
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.header h2 {
  text-align: center;
  align-items: center;
  color: white;
  font-size: 35px;
  padding: 8px;
}
