.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  font-size: 30px;
  padding-right: 25px;
  padding-left: 20px;
  color: lightgray;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  text-decoration: underline;
  color: white;
}
